* {
  margin: 0;
  padding: 0;
}

.grocery-bud {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  max-width: 1000px;
  width: 90vw;
  background-color: #edf4f2;
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.grocery-bud:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 80px;
}

.title {
  display: flex;
  flex-flow: row wrap;
  height: 40px;
  padding: 12px;
  text-align: center;
}

span {
  display: flex;
  align-items: center;
}

.text-g {
  font-size: 28px;
  font-weight: 800;
  color: #79d70f;
}

.text-b {
  font-size: 28px;
  font-weight: 800;
  color: #f5a31a;
}

.space {
  min-width: 8px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  flex-grow: 1;
  flex-shrink: 1;
}

input {
  padding: 4px 4px 4px 8px;
  width: 100%;
  max-width: 260px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  background-color: #fff;
}

.submit-button {
  background-color: #f5a31a;
  color: #edf4f2;
  border-radius: 0 8px 8px 0;
}

.spacer {
  display: flex;
  flex-grow: 2;
  flex-shrink: 1;
  width: 100%;
  max-width: 320px;
  padding: 0 20px 0 20px;
}

.alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  padding: 8px 20px 8px 20px;
  flex-grow: 2;
  flex-shrink: 1;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 12px;
  color: #edf4f2;
  border-radius: 8px;
}

.info-icon-container {
  display: flex;
  align-items: center;
}

.alert-text {
  margin-left: 8px;
}

.positive {
  background-color: #79d70f;
}

.negative {
  background-color: #d32626;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  padding: 12px 0 0 12px;
}

.list-item {
  border: 1px solid #79d70f;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 12px 16px 12px 16px;
  margin: 0 12px 12px 0;
  border-radius: 8px;
}

.list-item:hover {
  border: 1px solid #f5a31a;
  background-color: #fff;
}

.edit-button {
  background-color: #79d70f;
  color: #edf4f2;
  margin: 0 8px 0 16px;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
}

.delete-button {
  background-color: #d32626;
  color: #edf4f2;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
}

.clear-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.clear-button {
  background-color: #f5a31a;
  color: #edf4f2;
  border-radius: 8px;
}

@media (max-width: 950px) {
  .alert-container {
    max-width: 100%;
    padding: 8px 12px 8px 12px;
  }
}

@media (max-width: 600px) {
  .list-item {
    justify-content: space-between;
    width: 100%;
  }
}
